<div class=row-fluid>
<div class=span12>
  <h2>Location</h2>
  <%- unless @locations.nil? then -%>
  <ul>
    <%- @locations.each do |location| -%>
    <li><%= link_to(
      "#{location.name}",
      :controller => 'location',
      :action => 'view',
      :id => location.id
    ) -%></li>
    <%- end -%>
  </ul>
  <%- else -%>
  <p>no locations</p>
  <%- end -%>
</div>
</div>

