# Ignore temp files
*~
.~*#
# VIM FTW!
.*.sw[op]

# sqlldr log
.control.log

# Sphinx
documents/report/build

# Ignore bundler config
nba/.bundle

# Ignore the default SQLite database.
nba/db/*.sqlite3
# Ignore DB schema
nba/db/schema.rb

# Ignore all logfiles and tempfiles.
nba/log/*.log
nba/tmp

# Never, ever, commit the bundle to git. *shivers*
nba/vendor
