<div class=row-fluid>
<div class=well style="overflow:hidden">
<div class=span3>
  <div class=btn-group>
<%- if @person.coach -%>
    <%= link_to(
      'Coach',
      {:action => 'coach', :id => @person.id},
      :class => 'btn'
    ) %>
<%- end -%>
<%- if @person.player -%>
    <%= link_to(
      'Player',
      {:action => 'player', :id => @person.id},
      :class => 'btn'
    ) %>
<%- end -%>
  </div>
</div>
<div class=span6>
  <h2>
    <%= @person.fullname %>
    <%- if @person.ilkid then -%>
      <small><%= @person.ilkid %></small>
    <%- end -%>
  </h2>
</div>
</div>
</div>
