<h1>Teams</h1>
<%- unless @teams.nil? then -%>
<ul>
<%- @teams.each do |team| -%>
<li><%= link_to(
  "#{team.name} (#{team.trigram})",
  :controller => 'team',
  :action => 'view',
  :id => team.id.to_i
) -%></li>
<%- end -%>
</ul>
<%- else -%>
<p>no teams</p>
<%- end -%>
